
a{color: #0252aa; text-decoration: none; cursor:pointer;}
a:hover{text-decoration: underline;}
a img{border: 0;}

.cl{display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

.left, .alignleft{float: left; display: inline; }
.right, .alignright{float: right; display: inline; }

.shell{width: 980px; margin: 0 auto;}

#slider{position: relative; z-index: 1; height: 225px; margin-bottom: 15px;}
#slider .shell{position: relative; height: 225px;}

.slider-left{float: left; display: inline; width: 284px; height: 207px; color: ##0e3e84;  padding: 18px 20px 0 20px; }
.slider-left h2{ font-size: 20px; font-weight: normal; margin-bottom: 13px; }
.slider-left p{ font-size: 13px; line-height: 18px; font-family: Arial; }
.slider-left .subs {background:linear-gradient(180deg, #99ccff, #e6f2ff);}
.slider-left .subs :hover{}
.slider-right{ position: relative; float: left; display: inline; width: 656px; height: 225px; }
.slider-content{ position: relative; width: 1200px; height: 225px; overflow: ;  }
.slider-content ul{ list-style: none outside none; height: 100%; overflow: hidden; }
.slider-content ul li,
.jcarousel-clip{ position: relative; width: 680px; height: 225px; z-index: 1; }

.slider-nav { position: absolute; bottom: 14px; right: 19px; display: block; z-index: 10; }
.slider-nav ul { list-style: none outside none; }
.slider-nav ul li { float: left; display: inline; width: 20px; height: 20px; margin-right: 4px; }
.slider-nav ul li a { width: 20px; height: 20px; display: block; background: url(../images/images/slider-nav.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-nav ul li a:hover,
.slider-nav ul li a.active { background: url(..images/images/slider-nav-hover.png) no-repeat 0 0; }

#main { }
#main h2 { font-size: 20px; font-weight: normal; color: #4c4c4c; }

#sidebar { float: left; display: inline; width: 324px; }
#sidebar .text-container { min-height: 221px; background: #eaebeb url(..images/images/text-containerbg.gif) repeat-x 0 0; padding: 20px 15px 0 18px; margin-bottom: 20px; }
#sidebar .text-container h2 { margin-bottom: 6px; }


.post { }
.post h2 { border-bottom: 5px solid #e4e4e4; padding-bottom: 5px; margin-bottom: 11px; }
.post .more { display: block; background: url(images/pink-arrow.gif) no-repeat 0 4px; color: #c40083; font-size: 11px; line-height: 12px; padding-left: 10px; margin-top: 10px; }
.post .more:hover { color: #000; text-decoration: none; }
#sidebar .post { padding: 0 18px 0 14px; }
#sidebar .post .more { margin-top: 17px; }

#content { float: right; display: inline; width: 600px; padding-top: 17px; margin-right: 10px;}

.col { margin-bottom: 25px; }
.cols-2 { float: left; display: inline; width: 280px; margin-right: 40px; }

#footer { height: 87px; background: url(..images/images/footer-bg.gif) repeat-x 0 0; font-size: 11px; color: #7f7f7f; }
#footer .shell { padding: 26px 0 0 0; }
#footer a { color: #7f7f7f; }
#footer p.left span { padding: 0 3px; }


