/* Setting smooth screen scrolling experience */
html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/* Broad tweeks */
a {
    text-decoration: solid;
}
.backbox{
    background: rgba(50, 50, 50, 0.25);
    padding: 10px;
}
.subpage{
    margin-top:30px;
}

/* Setting design and tweaks of the header navbar */
.navbar{
    z-index: 2;
}

.navbar a {
    color:#27ae60;
}

.navbar a:hover {
    color:#27ae60;
}

.lefter{
    padding-left:0;
}
.widener{
    padding-left:0;
    padding-right:0;
}
.spacer{
    padding-bottom:0;
}

@media (max-width: 559px){
    #wide{
        display:none;
    }
}
@media (min-width:560px){
    .narrow{
        display: none;
    }
}

.headline {
    margin-left: 3%;
    color: black;
    text-decoration: none;
    font-size: large;
}
.headline:hover{
    color: black;
}

/* Setting footer design  */

.footer{
    padding-bottom: 25px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
	text-align: center;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:#27ae60;
}

/* Tweaks particular to footers not on the home page */
#foot-tweak {
    font-size: 1.25rem;
    color: darkgray;
    --border: .1rem solid rgba(0,0,0,.1);
    width: 77%;
    margin:auto;
    margin-top: 1%;
}

/* Tweaks particular to the footer on the story book page */
#book-foot{
    font-size: 1.25rem;
    color: darkgray;
    --border: .1rem solid rgba(0,0,0,.1);
    width: 77%;
    margin:auto;
    margin-top: 820px;
}

/* Text on the hompage intro */
#intro a {
    text-decoration: underline;
    color: gray;
}

/* Some contact page tweaks */
.required {
    color: red;
}

.informative {
    color: gray;
    font-size: smaller;
    margin-bottom: 0px;
}

/* Storybook specific css management */

@media (min-width: 1000px){
    #storybook {
        margin-top: -5%;
    }
}

@media (max-width: 1000px){
    #storybook {
        margin-top: -10%;
    }
}

.flipbook {
    max-width: 600px;
}

#storybook {
    position: absolute;
    overflow-x:auto;
    min-height: 820px;
    min-width: 600px;
}

.titlecard {
    width: 100%;
    margin-top: 45%;
    display: flex;
    justify-content: center;
}

.story-element:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.lines {
    margin-bottom: 2px;
    font-size: small;
}

/* Humpty Dumpty specific */

/* Story background */
#wall {
    background-image: url("../images/wall.jpg");
}

/* Image display box */
#humpty-box{
    visibility:hidden;
}

/* Various story images */
#humpty1 {
    margin-top: 2%;
    margin-left: 20%;
}

#humpty2 {
    margin-top: 25%;
    margin-left: 20%;
}

#humpty3 {
    margin-top: 15%;
}

#humpty4 {
    margin-top: 3%;
}

#humpty6 {
    margin-top: 2%;
    margin-left: 20%;
}

/* Story text lines */
#humptyline0{
    visibility:hidden;
}

#humptyline1{
    visibility:hidden;
}

#humptyline2{
    visibility:hidden;
}

#humptyline3{
    visibility:hidden;
}

#humptyline4{
    visibility:hidden;
}

/* Jack and Jill specific */

/* Story background */
#jackJill {
    background-image: url("../images/hill.jpg");
}

/* Image display box */
#jackJill-box{
    visibility:hidden;
}
/* Various story images */
#jackJill {
    background-image: url("../images/hill.jpg");
}

#jackJill1 {
    margin-top: 80%;
    margin-left: 100%;
}

#jackJill2 {
    margin-top: 60%;
    margin-left: 70%;
    transform: scale(0.7);
}

#jackJill3 {
    margin-top: 40%;
    margin-left: 40%;
    transform: scale(0.4);
}

#jackJill4 {
    margin-top: -15%;
    margin-left: 35%;
    transform: scale(0.4);
}

#jackJill5 {
    margin-top: -20%;
    margin-left: 10%;
    transform: rotate(300deg) scale(0.6);
}

#jackJill6 {
    margin-top: 5%;
    margin-left: 40%;
    transform:rotate(20deg);
}

#jillian {
    margin-top: 40%;
    margin-left: 35%;
    transform: scale(0.4);
    position: relative;
    z-index: 2;
}

#jackJill7 {
    margin-top: 80%;
    margin-left: 100%;
}

/* Story text lines */
#jackJillline0{
    visibility:hidden;
}
#jackJillline1{
    visibility:hidden;
}

#jackJillline2{
    visibility:hidden;
}

#jackJillline3{
    visibility:hidden;
}

#jackJillline4{
    visibility:hidden;
}

#jackJillline5{
    visibility:hidden;
}

/* Little Miss Muffet */

/* Story background */
#missMuffetp1 {
    background-image: url("../images/meadow1.jpg");
}

#missMuffetp2 {
    background-image: url("../images/meadow2.jpg");
}

/* Image display boxes */
#missMuffet-box{
    visibility:hidden;
}

#missMuffet-box2{
    visibility:hidden;
    margin-top: 70%;
    margin-left: 30%;
}

/* Various story images */
#missMuffet1 {
    margin-top: 90%;
    margin-left: 30%;
}

#missMuffet2 {
    margin-top: 95%;
    margin-left: 40%;
}

#missMuffet3 {
    margin-top: 95%;
    margin-left: 40%;
}

#missMuffet4 {
    margin-top: 16%;
    margin-left: 22%;
}

#missMuffet5 {
    margin-top: -18%;
    margin-left: 22%;
}

#missMuffet6 {
    margin-top: -38%;
    margin-left: 15%;
}

#missMuffet7 {
    margin-top: 90%;
    margin-left: 30%;
}

#spider3 {
    margin-top: -80%;
    margin-left: 10%;
}

#spider4 {
    margin-top: -45%;
    margin-left: 10%;
}

#missMuffet7 {
    margin-top: 90%;
    margin-left: 30%;
}

/* Story text lines */
#missMuffetline0{
    visibility:hidden;
}
#missMuffetline1{
    visibility:hidden;
}

#missMuffetline2{
    visibility:hidden;
}

#missMuffetline3{
    visibility:hidden;
}

#missMuffetline4{
    visibility:hidden;
}

#missMuffetline5{
    visibility:hidden;
}