.lefter{
    padding-left:0;
}
.widener{
    padding-left:0;
    padding-right:0;
}
.spacer{
    padding-bottom:0;
}
.carousel{
    overflow:hidden;
    max-height:500px;
}
.carousel-item{
    height: 400px;
    position: relative;
}
@media (min-width: 992px){
    .carousel-inner img{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
}
.backbox{
    background: rgba(50, 50, 50, 0.25);
    padding: 10px;
}
.subpage{
    margin-top:30px;
}

.accordion-button:not(.collapsed){
    color:#212529;
}
@media (max-width: 559px){
    .wide{
        display:none;
    }
}
@media (min-width:560px){
    .narrow{
        display: none;
    }
}

.headline {
    margin-left: 3%;
    color: black;
    text-decoration: none;
    font-size: large;
}
.headline:hover{
    color: black;
}

.titlecard {
    margin-top: 45%;
    margin-left: 18%;
    position: absolute;
}
.story-element:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#humpty {
    background-image: url("../images/wall.jpg");
}

#humpty1 {
    margin-top: 2%;
    margin-left: 20%;
}

#humpty2 {
    margin-top: 25%;
    margin-left: 20%;
}

#humpty3 {
    margin-top: 15%;
}

#humpty4 {
    margin-top: 3%;
}

.lines {
    margin-bottom: 2px;
    font-size: small;
}

#humpty-box{
    visibility:hidden;
}


#hline{
    visibility:hidden;
}
#hline1{
    visibility:hidden;
}

#hline2{
    visibility:hidden;
}

#hline3{
    visibility:hidden;
}

#hline4{
    visibility:hidden;
}

#storybook {
    height: 600px;;
}
#storybye {
    display: none;
}
@media (max-width: 600px){
    #storybye {
        display: block;
    }
    #storybook {
        display: none;
    }
}
@media (max-height: 600px){
    #storybook {
        display: none;
    }
    #storybye {
        display: block;
    }
}
